body{
	background-color:#000;
	background-repeat:no-repeat;
	background-image:url(../img/self-portrait.jpg);
	position:fixed;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

h1, h2{
	color:#FFFFFF;
	margin-left:1em;
}

figure{
	background-color:#ABAAAA;
	border-radius:10px;
}

figure img{
	width:40%;
	border-radius:10px;
	padding:1em 0 0 1em;
}

.photo{
	width:100%;
	height:100%;
	z-index:-10;
}

article{
	float:left;
	background-size:100% 100%;
}

header{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	margin:0 0 0 1.5em;
	padding:1em 0 0;
}

p{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	padding:1.5em;
}

.bio-box{
	background-color:#525151;
	margin:65% 50% 0 1%;
	border-radius:10px;
	opacity:.8;
}

.icon{
	width:13%;
	padding:5%;
}

.button{
		width:45%;
		margin-left:25%;
		margin-right:15%;
	}


@media only screen and (min-width: 11em){
	.bio-box{
		overflow:hidden;
		width:98%;
	}
	
	.icon{
		width:30%;
	}
	
	header{
		margin:5% auto auto 5%;
	}
	
	p{
		font-size:.80em;
		padding:0 .75em .75em .75em;
		margin:0;
	}
	
	figure img{
		width:90%;
		padding:.5em;
		margin:0;
	}
	
	.button{
		width:35%;
		margin-left:30%;
		margin-right:15%;
	}

}

@media only screen and (min-width: 20em){
	.icon{
		width:15%;
	}
	
	p{
		font-size:1em;
	}
	
	.button{
		width:25%;
		margin-left:35%;
		margin-right:15%;
	}

}

@media only screen and (min-width: 33em){
	.bio-box{
		float:left;
	}
	
	.icon{
		width:10%;
	}
	
	.button{
		width:20%;
		margin-left:35%;
		margin-right:25%;
	}
	
}


@media only screen and (min-width: 45em){

	.icon{
		width:8%;
		padding:1em;
	}
	
	.button{
		width:25%;
		margin-left:35%;
		margin-right:30%;
	}
	
	header{
		padding-top:0;
		margin-left:1em;
	}
	
}

@media only screen and (min-width: 60em){
	header{
		margin-top:.5em;
	}
	
	.bio-box{
		width:75%;
		margin-left:10%;
	}
	
	p{
		column-count:2;
		column-width:5em;
	}
	
	figure img{
		width:60%;
	}
	
	.icon{
		width:7%;
	}
	
	.button{
		width:20%;
		margin-left:35%;
		margin-right:15%;
	}
}

@media only screen and (min-width: 66em){
	.bio-box{
		background-color:#525151;
		margin:5% 75% 0 5%;
		border-radius:10px;
		opacity:.8;
		width:30%;
	}
	
	figure img{
		width:55%;
	}
	
	.icon{
		width:15%;
	}
	
	.button{
		width:35%;
		margin-left:30%;
		margin-right:15%;
	}

}

@media only screen and (min-width: 85em){

	.bio-box{
		width:24%;
	}
}

@media only screen and (min-width: 100em){
	.bio-box{
		width:25%;
	}
	
	header{
		font-size:1.6em;
	}
	
	p{
		font-size:1.1em;
	}
}

@media only screen and (min-width: 120em){
	p{
		font-size:1.7em;
	}
}

@media only screen and (min-width: 180em){
	header{
		font-size:3em;
	}
	
	p{
		font-size:2.5em;
		line-height:1.6em;
	}

}