<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Lianne Hébert</title>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width;initial-scale=1">
</head>


<body>

{{content}}

	<ul>
		<a href="https://www.facebook.com/pages/Lianne-Hébert-Graphic-Design/272158256239758"><img src="img/fb-icon.png" alt="facebook" class="icon"></a>
		<a href="mailto:princess.lianne@yahoo.ca"><img src="img/email.png" alt="email" class="icon"></a>
	</ul>


</body>
</html>
